 
    *{
        margin:0;
        padding:0;

    }
    body{
        background:#139090;

    }
    main{
        margin:auto;
        width:1178px;
        
    }
    h1{
        color:white;
        font-family:arial black;
        font-weight: bold;
        font-size:20px;
        background:rgb(255, 255, 0);
        text-align: center;
        outline:none;
        margin-bottom:50px;
        padding : 15px;
        

        ;
    }
    